/.github
/.vscode
**/build
**/coverage
**/cypress
**/lib
**/node_modules
**/e2e
/server
.git
.gitignore
.gitattributes
.prettierrc
codecov.yml
cypress.config.ts
renovate.json
playwright.config.ts
Dockerfile
LICENSE
README.md
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.env.local
.env.development.local
.env.test.local
.env.production.local
**/public/*settings*.json
!**/public/*settings.example.json
